In [1]:
#Library Imports
import numpy as np
import pandas as pd
import math
import os
import matplotlib.pyplot as plt

import yaml
!pip install -U PyYAML
from easydict import EasyDict

Requirement already up-to-date: PyYAML in /usr/local/lib/python3.7/dist-packages (5.4.1)

In [2]:
# 구글 드라이브 연동
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
root_dir = '/content/drive/MyDrive/power_consumption/'
#root_dir = '/home/jngeun/power_consumption/'

In [7]:
with open(os.path.join(root_dir,'config.yaml'), "r") as f:
  C = EasyDict(yaml.load(f, yaml.FullLoader))

In [8]:
train=pd.read_csv(os.path.join(root_dir,C.train.csv),encoding='cp949')
test=pd.read_csv(os.path.join(root_dir,C.test.csv),encoding='cp949')
train['비전기냉방설비운영'].fillna(0, inplace=True)
train['태양광보유'].fillna(0, inplace=True)
submission=pd.read_csv(os.path.join(root_dir,C.result.csv),encoding='cp949')

In [9]:
#train.shape 122400 X 10
#60개의 건물 X 85일 24시간 =122400
train.head(10)

   num      date_time  전력사용량(kWh)  기온(°C)  ...  강수량(mm)  일조(hr)  비전기냉방설비운영  태양광보유
0    1  2020-06-01 00    8179.056    17.6  ...      0.8     0.0        0.0    0.0
1    1  2020-06-01 01    8135.640    17.7  ...      0.3     0.0        0.0    0.0
2    1  2020-06-01 02    8107.128    17.5  ...      0.0     0.0        0.0    0.0
3    1  2020-06-01 03    8048.808    17.1  ...      0.0     0.0        0.0    0.0
4    1  2020-06-01 04    8043.624    17.0  ...      0.0     0.0        0.0    0.0
5    1  2020-06-01 05    8010.576    16.9  ...      0.0     0.0        0.0    0.0
6    1  2020-06-01 06    7978.176    16.7  ...      0.1     0.0        0.0    0.0
7    1  2020-06-01 07    8019.000    16.9  ...      0.0     0.1        0.0    0.0
8    1  2020-06-01 08    8020.944    17.8  ...      0.0     0.3        0.0    0.0
9    1  2020-06-01 09    8083.152    19.3  ...      0.0     0.7        0.0    0.0

[10 rows x 10 columns]

In [10]:
test.head(10)

   num      date_time  기온(°C)  ...  일조(hr, 3시간)  비전기냉방설비운영  태양광보유
0    1  2020-08-25 00    27.8  ...          0.0        NaN    NaN
1    1  2020-08-25 01     NaN  ...          NaN        NaN    NaN
2    1  2020-08-25 02     NaN  ...          NaN        NaN    NaN
3    1  2020-08-25 03    27.3  ...          0.0        NaN    NaN
4    1  2020-08-25 04     NaN  ...          NaN        NaN    NaN
5    1  2020-08-25 05     NaN  ...          NaN        NaN    NaN
6    1  2020-08-25 06    26.1  ...          0.0        NaN    NaN
7    1  2020-08-25 07     NaN  ...          NaN        NaN    NaN
8    1  2020-08-25 08     NaN  ...          NaN        NaN    NaN
9    1  2020-08-25 09    28.8  ...          1.1        NaN    NaN

[10 rows x 9 columns]